.searchOption {
    display: flex;
    align-items: center;
    color: grey;
    margin-right: 20px;
}

.searchOption a {
    text-decoration: none;
    color: gray;
    margin-top: 2px;
    margin-left: 2px;
} 